.articles-body {
  background-image: url("../images/stacked-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 50px;
  height: 100vh;
  font-family: "Arial", sans-serif;
}

.articles-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Helvetica", sans-serif;
}

.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article-item {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-content {
  font-family: "Arial", sans-serif;
}

.article-content strong {
  font-weight: bold;
  font-size: 16px;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.submit-btn:hover {
  background-color: #45a049;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.comment-box {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background-color: white;
  color: black;
}

.article-review-form {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-review-form h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.article-content h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.article-content p {
  margin-bottom: 8px;
  line-height: 1.5;
  color: #666;
}

.article-content p strong {
  color: #333;
  font-size: 16px;
}

.article-content .doi,
.article-content .author,
.article-content .keywords {
  margin-bottom: 10px;
}

.article-actions-container {
  text-align: center;
  margin-top: 20px;
}

textarea {
  font-size: 14px;
  padding: 10px;
}
