/* src/css/auth.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f4f8;
}

.auth-form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
}

.error-message {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}

.auth-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.auth-button:hover {
  background: #0056b3;
}

.account-switch {
  text-align: center;
  margin-top: 10px;
  color: black;
}

.toggle-button {
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.toggle-button:hover {
  color: #0056b3;
}
