.navbar {
    background-color: $base-100; // Assuming $base-100 is defined in a global SCSS file
    font-family: 'Courier New', monospace;
  
    .flex-1 {
      // Styling for the SPEED section
      a {
        background-color: #C7F6C7;
        font-size: 6rem;
        width: 12rem; // Equivalent to w-48 in Tailwind
        height: 12rem; // Equivalent to h-48 in Tailwind
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    .menu {
      display: flex;
      gap: 1.5rem;
  
      .menu-horizontal {
        padding-left: 0.25rem; // Equivalent to px-1 in Tailwind
      }
  
      li {
        list-style: none;
  
        .nav-link {
          background-color: gray;
          color: black;
          width: 8rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-bottom: 0.625rem; // 10px
  
          &:hover {
            background-color: darken(gray, 10%); // Darken background on hover
          }
        }
  
        details {
          .nav-link {
            cursor: pointer;
          }
  
          .dropdown-content {
            background-color: $base-100;
            padding: 0.5rem;
  
            .dropdown-link {
              background-color: gray;
              color: black;
              width: 5rem; // Adjust width for smaller links
              height: 2.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin-bottom: 0.625rem; // 10px
  
              &:hover {
                background-color: darken(gray, 10%);
              }
            }
  
            // Remove margin from the last child
            .dropdown-link:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  